SERVER = 'http://api.cn.faceplusplus.com/'
# uncomment the following line to switch to US server
# SERVER = 'http://api.us.faceplusplus.com/'

API_KEY = '6dffd11b46ca54cb07e6619dd0a31083'
API_SECRET = 'Vnx_bOELOHjNGBfNaohby53j0q3F7UTU'
